<br><br>
<div class="ex1">
    <h2>
        Registro de empresas dedicadas al reciclaje.<br>
        El campo Descripción recoge los tipos de productos que gestiona la empresa.<br>
        Se puede filtrar por las palabras usadas en este campo o en el campo Localidad.<br>
        El icono de "mapa" nos lleva a un mapa con las localizaciones de las empresas.
    </h2>


    <p> Diseñado por: <b>Manuel Gónzalez Gamito</b>
    Alumno de 2ºASIR del <a href="https://www.iespuntadelverde.es/" target="_blank"> IES Punta del Verde </a> (curso 2020/21) <br><br>
    <a href="https://twinspace.etwinning.net/94367/pages/page/691104" target="_blank"> Erasmus+ Project: 2019-1-ES01-KA202-063878.</a> <br><br>
    <br>
<div align="center"><img src="..\..\..\assets\pie.png" alt="logos proyecto"></div>
</div>
