.map-container {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }